body{
    background-color:rgb(194, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    border: 1px dashed blue;
    border-radius: 20px;
    margin: 50px;
}

.game-area{
    width: 80%;
    border-radius: 10px;
    padding:20px;
    margin: 5px;
}

#game-info{
    background-color:rgb(141, 228, 240);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#controls{
    background-color:rgb(35, 152, 248);
}

#game-container{
    background-color:rgb(253, 253, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.tube{
    width: 50px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    border-top: 0px;
    border-radius: 0 0  10px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    margin-top: 20px;
}

.water{
    width: 100%;
}

.tube.selected{
    border-color: 'red';
    box-shadow: 0 0 10px rgba(88, 180, 241, 0.5);
    transform: translateY(-20px);
}